@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---------------------------------------------------------- Colors */

.bg-color-title {
    background-color: #fafafa;
}

.bg-color-footer {
    background-color: #fafafa;
}

.bg-navtab-color {
    background-color: #ff9d00;
}

.bg-color-mediagallary {
    background-color: #8f8f8f;
}

.bg-color-descriptionblocks-section {
    background-color: #fafafa;
}


/*---------------------------------------------------------- General */

body {
    background-color: #fafafa;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.small-title {
    font-weight: 300;
}

.big-title {
    font-weight: 600;
}

.social-links {
    padding: 2px;
    margin-top: 30px;
}

.social-links i {
    font-size: 20px;
    color: #000;
}

.social-links-block {
    text-align: center;
}

.btn-book-now {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    max-width: 33vw;
    background-color: rgb(30, 173, 1);
    margin: 50px auto;
    color: #fff;
}

.description-blocks-section {
    padding-top: 50px;
}

.description-blocks-title {
    text-align: center;
    margin-bottom: 50px;
}

.description-blocks-title h2 {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 28px;
}

.description-blocks {
    text-align: center;
    padding-top: 45px;
    margin: 10px;
    background-color: #aaa;
    height: 170px;
}

.description-blocks h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 26px;
}

.description-blocks p {
    font-family: "Advent pro", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000;
}


/*---------------------------------------------------------- Media Query */

@media(max-width: 767px) {
    .display-none-sm {
        display: none;
    }
}

@media(max-width: 1024px) {
    .media-gallery {
        min-width: 90%;
    }
    .btn-book-now {
        max-width: 50vw;
    }
}

@media(max-width: 420px) {
    #navbar li a i {
        font-size: 20px;
    }
    #navbar li a span {
        font-size: 20px;
    }
}


/*---------------------------------------------------------- Header */

header {
    margin: 0;
}

.logo {
    background: url("../images/papilogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.title {
    height: 120px;
}

.title-text {
    margin: 30px 0;
    font-size: 30px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.navcontainer {
    font-size: 0px;
}

.navtab {
    height: 120px;
    text-align: center;
    padding: 0;
}

.navtab a {
    color: #fafafa;
    width: 100%;
    text-decoration: none;
    height: 120px;
}

.navtab a span {
    font-size: 24px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    /*---fix the padding so it sits in the middle---*/
}

.navtab a i {
    padding-top: 35px;
    /*---fix the padding so it sits in the middle---*/
    display: block;
    color: #fafafa;
    font-size: 26px;
}


/*---------------------------------------------------------- Hover */

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.15);
    height: 120px;
}


/*---------------------------------------------------------- footer*/

.footer-links {
    min-height: 70px;
    text-align: center;
    padding-top: 25px;
}

.footer-links a {
    text-decoration: none;
    color: #fd7709;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.footer-social-links i {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 24px;
}


/*---------------------------------------------------------- Home section */

.btn-home-margin {
    margin-top: 100px;
}

.media-gallery {
    height: auto;
    margin: 50px auto;
    max-width: 70%;
    margin-bottom: 100px;
}

.media-gallery-container {
    width: 100%;
}

.media-gallary-title {
    text-align: center;
    margin-top: 50px;
}

.media-gallary-title h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #000;
}

#media-gallery-no-margin {
    margin-right: 0;
    margin-left: 0;
}


/*---------------------------------------------------------- gallery */


/*---------------------------------------------------------- About Us section */

.about-papilion {
    background-color: #aaa;
}

.about-papilion-title {
    margin: 50px 0;
    text-align: center;
}

.about-papilion-title h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.about-papilion-block {
    margin: 50px;
    text-align: center;
}

.about-papilion-block p {
    font-family: "Advent pro", sans-serif;
    font-size: 18px;
    font-weight: 500;
}


/*---------------------------------------------------------- Services section */

.service-blocks {
    height: 250px;
}


/*---------------------------------------------------------- Contact us section */

.address-block {
    text-align: center;
    margin: 50px auto;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 300px;
    margin: 50px auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 300px;
    width: 300px;
}