@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---------------------------------------------------------- Colors */

.bg-color-title {
    background-color: #fafafa;
}

.bg-color-footer {
    background-color: #fafafa;
}

.bg-navtab-color {
    background-color: #ff9d00;
}

.bg-color-container {
    background-color: #aaa;
}

.bg-color-descripition-section {
    background-color: #fafafa;
}


/*---------------------------------------------------------- General */

/*-------------social-links-------------*/

.fa {
    font-size: 125%;
  }
  
  .fa-youtube-play {
    color: red;
  }
  
  .fa-linkedin-square {
    color: #283e4a;
  }
  
  .fa-facebook-square {
    color: #4267b2;
  }
  
  .fa-instagram {
    color: #9f36b7;
  }

body {
    background-color: #fafafa;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.small-title {
    font-weight: 300;
}

.big-title {
    font-weight: 600;
}

.social-links {
    padding: 2px;
    margin-top: 30px;
}

/*---.social-links i {
    font-size: 20px;
    color: #000;
}---*/

.social-links-block {
    text-align: center;
}

.my-container {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.btn-book-now {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    max-width: 33vw;
    background-color: rgb(30, 173, 1);
    margin: 50px auto;
    color: #fff;
}

.description-blocks-section {
    padding-top: 50px;
}

.description-blocks-title {
    text-align: center;
    margin-bottom: 50px;
}

.description-blocks-title h2 {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 28px;
}

.description-blocks {
    text-align: center;
    padding-top: 60px;
    margin: 10px;
    background-color: #aaa;
    height: 170px;
    border-radius: 8px;
}

.description-blocks h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 26px;
    margin-bottom: 7px;
}




/*---------------------------------------------------------- Media Query */

@media(max-width: 767px) {
    .display-none-sm {
        display: none;
    }
    .service-media {
        min-width: 100%;
    }
}

@media(max-width: 768px) {
    .navcontainer li a span {
        font-size: 20px;
    }
    .navcontainer li a i {
        font-size: 22px;
    }
    .my-container div .gallery-img-left {
        margin: 25px;
    }
    .my-container div .gallery-img-right {
        float: unset;
        margin: 25px;
    }
}

@media(min-width: 768px) {
    .display-none-md {
        display: none;
    }
}

@media(max-width: 1024px) {
    .media-gallery {
        min-width: 90%;
    }
    .btn-book-now {
        max-width: 50vw;
    }
}

@media(max-width: 420px) {
    .form-control {
        min-width: 70%;
        margin: 15px auto;
        text-align: center;
    }
    .btn-secondary {
        min-width: 50%;
    }
}


/*---------------------------------------------------------- Header */

header {
    margin: 0;
}

.logo {
    background: url("../images/papilogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.logo-hamburger {
    background: url("../images/papilogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    width: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.title {
    height: 120px;
}

.title-text {
    margin: 30px 0;
    font-size: 30px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color: #000;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.navcontainer {
    font-size: 0px;
}

.navtab {
    height: 120px;
    text-align: center;
    padding: 0;
}

.navtab a {
    color: #fafafa;
    width: 100%;
    text-decoration: none;
    height: 120px;
}

.navtab a span {
    font-size: 24px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.navtab a i {
    padding-top: 30px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}


/*-----------------Hamburger icon colors*/

.fa-bars {
    color: #ff9d00;
    margin: 4px;
}

.navbar-light .navbar-toggler {
    border-color: #fd7709;
    border-width: 1.5px;
}


/*-----------------Hamburger active color*/

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: #fd7709;
}


/*-----------------Hamburger links color*/

.navbar-light .navbar-nav .nav-link {
    color: #ff9d00;
}


/*-----------------Hamburger dropdown active color*/

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff9d00;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fd7709;
}


/*-----------------Hamburger dropdown link and border color*/

.dropdown-item {
    color: #ff9d00;
}

.dropdown-menu {
    border-color: #fd7709;
}


/*---------------------------------------------------------- Hover */

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.15);
    height: 120px;
}


/*---------------------------------------------------------- footer*/

.footer-links {
    min-height: 70px;
    text-align: center;
    padding-top: 25px;
}

.footer-links a {
    text-decoration: none;
    color: #fd7709;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.footer-social-links i {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 24px;
}


/*---------------------------------------------------------- Home section */

.btn-home-margin {
    margin-top: 100px;
}

.home-gallery {
    height: auto;
    margin: 50px auto;
    max-width: 70%;
}

.carousel-inner {
    border-radius: 8px;
}

.home-gallery-title {
    margin: 50px 0;
    text-align: center;
}

.home-gallery-title h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 28px;
}

.home-service-links {
    height: 170px;
    width: 100%;
    text-decoration: none;
}


/*----------------------- Home art links */

.description-blocks a {
    text-decoration: none;
    color: #fff;
    font-family: "poppins", sans-serif;
    font-weight: 300;
}


/*---------------------------------------------------------- About Us section */

.about-papilion-title {
    margin: 50px 0;
    text-align: center;
}

.about-papilion-title h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #000000;
}

.about-papilion-block {
    margin: 50px;
    text-align: center;
}

.about-papilion-block p {
    font-family: "Advent pro", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.our-team-blocks {
    height: auto;
    padding-bottom: 20px;
}

.staff-img {
    border-radius: 8px;
    margin-bottom: 15px;
}


/*---------------------------------------------------------- Services section */

.service-blocks-section {
    padding-top: 50px;
}

.service-blocks-title {
    text-align: center;
    margin-bottom: 50px;
}

.service-blocks-title h2 {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 28px;
}

.service-blocks {
    text-align: justify;
    padding: 40px 15px;
    margin: 10px;
    background-color: #aaa;
    height: auto;
    border-radius: 8px;
}

.service-blocks h3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 26px;
}

.service-blocks p {
    font-family: "Advent pro", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000;
}

.service-media {
    height: auto;
    margin: 30px auto;
    max-width: 70%;
}

.service-text p {
    margin: 30px 20px 30px 10px;
}


/*---------------------------------------------------------- Contact us section */

.address-block {
    text-align: center;
    margin: 50px auto;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 300px;
    margin: 50px auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 300px;
    width: 300px;
}


/*-------------------------------- Message form */

.message-form {
    margin: 50px 0;
}

.message-form h2 {
    text-align: center;
    margin-bottom: 50px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    color: #000;
}

.form-control {
    width: 50%;
    margin: 15px auto;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    color: #aaa;
}

.form-group {
    text-align: center;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    color: #000;
}

.btn-secondary {
    margin-top: 20px;
    background-color: #ff9d00;
    border-color: #ff9d00;
    width: 30%;
}


/*---------------------------------------------------------- Gallery */

.gallery-title {
    margin: 50px 0;
    text-align: center;
}

.gallery-title h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #000000;
}

.gallery-img-left {
    margin-left: 100px;
    margin-top: 75px;
    margin-bottom: 50px;
}

.gallery-img-right {
    float: right;
    margin-right: 100px;
    margin-top: 75px;
    margin-bottom: 50px;
}


/*---------------------------------------------------------- Modal */

.form-group,
.form-control,
.modal-title {
    font-family: "poppins", sans-serif;
}